.header{
    
    // width: 100%;
    font-size: 16px;
    
    background-color:red;
   color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    border-bottom: 7px solid red;

    .logo{
        margin-right: auto;
    }
        .headimg{
            height: 300px;
            width: 300px;
        }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        li{
            margin: 0 1rem;
            font-size: 20px;
            a{
                text-decoration: none;
                color: white;
                font-weight: 700;
                font-size: 1.2rem;
            }
        }
    }
    .reg{
        display: flex;
        justify-content: center;
        margin-left: 30px;
        margin-left: 700px;
        padding-left: 10px;

    }
    .log{
        display: flex;
        justify-content: center;
        margin-left: 30px;
        padding-left: 10px;
        gap: 10px;
        text-align: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
    }
    .sign{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        margin-left: 30px;
        padding-left: 10px;
        border-radius: 7px;
        gap: 10px;
        width: 100px;
        height: 40px;
        color: white;
        background-color: red;
        border:1px solid white;
    }
    .start{
        
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        margin-left: 30px;
        padding-left: 10px;
        gap: 10px;
        width: 130px;
        height: 40px;
        border-radius: 7px;
        color: white;
        background-color: red;
        border:1px solid white;
        
    }
     .learn{
        
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        margin-left: 30px;
        padding-left: 10px;
        gap: 10px;
        width: 130px;
        height: 40px;
        border-radius: 7px;
        // color: white;
        border: none;
       


}
@media screen and (max-width: 768px) {
    .header{
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        .logo{
            margin: 0;
        }
        ul{
            margin-top: 1rem;
            li{
                margin: 0.5rem 0;
            }
        }
    }
    
}
}